name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"   # Runs daily
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          user: AHILL-0121
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kolkata

          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_sections: most-used
          plugin_languages_limit: 8

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_stargazers: yes

          plugin_achievements: yes
          plugin_achievements_threshold: C

          plugin_followup: yes

          output_action: commit
